body {
  background: url("../public/images/background6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  min-height: 100%;
  width: 100%;
}

#root {
  margin: 0;
  min-height: 100%;
  width: 100%;
}

/* Front page - locations */

.location-cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  gap: 10px 30px;
}

.location-card {
  border-radius: 360%;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: url("../public/images/location2.PNG");
  color: white;
  padding: 2px 14px;
  height: 200px;
  width: 14%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: solid black 2px;
}

.location-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

/* Encounter page */
.location-pokemon-card {
  color: rgb(255, 255, 255);
  width: 40%;
  transition: 0.3s;
  position: relative;
  justify-items: center;
  margin-top: 100px;
  margin-left: 42%;
  max-width: 250px;
  border-radius: 50px;
  background: #603f33ca;
  border: solid black 2px;
  display: flex;
  flex-wrap: wrap;
  height: 250px;
  padding: 0px 31px 60px 31px;
  align-items: center;
}


.user-pokemon-container {
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  padding: 0px 31px 60px 31px;

  align-items: center;
  justify-content: space-evenly;
  gap: 10px 30px;
}
.user-pokemon-container > div {
  min-width: 250px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #603f33ca;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: solid black 2px;
}
.user-pokemon-container > div:hover {
  box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 10);
  cursor: pointer;
}

/* Battle page */

.battle-pokemon {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  height: 600px;
  padding: 0px 31px 60px 31px;
  margin-top: 250px;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px 0px;
}

.battle-location-pokemon {
  position: relative;
  margin-left: -20px;
  color: rgb(255, 255, 255);
  width: 40%;
  transition: 0.3s;
  justify-items: center;
  max-width: 250px;
  border-radius: 50px;
  background: #603f33ca;
  border: solid black 2px;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 31px 60px 31px;
  height: 500px;
  align-items: center;
}

.battle-user-chosen-pokemon {
  width: 20%;
  position: relative;
  margin-left: -20px;
  color: rgb(255, 255, 255);
  width: 40%;
  transition: 0.3s;
  justify-items: center;
  max-width: 250px;
  border-radius: 50px;
  background: #603f33ca;
  border: solid black 2px;
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  padding: 0px 31px 60px 31px;
  align-items: center;
}

.stats {
  width: 172.14px;
  text-align: left;
  margin-left: -20px;
}

/* Texts */

.pokemon-name {
  margin-bottom: 0px;
  -webkit-text-stroke-width: 1, 3px;
  -webkit-text-stroke-color: black;
  text-align: center;
  color: #d4cbf8;
  text-shadow: 2px 2px 4px #977ac9e4, 0 0 0 rgb(var(--primery));
  --primery: 1, 161, 161;
  --bg: 239, 239, 242;
  --ch1: 126, 216, 118;
  --ch2: 99, 219, 243;
  --ch3: 243, 118, 0;
  --ch4: 255, 213, 6;
  text-align: center;
  font-family: Poppins;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.pokemon-type {
  color: #bbfdc8e4;
  text-align: center;
  font-family: Poppins;
  font-size: 25px;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: black;
  text-align: left;
  margin-left: 30px;
}

.pokemon-hp {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: rgb(243, 138, 93);
  text-shadow: 2px 2px 4px #0c0908e4, 0 0 0 rgb(var(--primery));
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  --primery: 1, 161, 161;
  --bg: 239, 239, 242;
  --ch1: 126, 216, 118;
  --ch2: 99, 219, 243;
  --ch3: 243, 118, 0;
  --ch4: 255, 213, 6;
  text-align: left;
  margin-left: 30px;
}

.pokemon-attack {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: rgb(157, 172, 255);
  text-shadow: 2px 2px 4px #0c0908e4, 0 0 0 rgb(var(--primery));
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  --primery: 1, 161, 161;
  --bg: 239, 239, 242;
  --ch1: 126, 216, 118;
  --ch2: 99, 219, 243;
  --ch3: 243, 118, 0;
  --ch4: 255, 213, 6;
  text-align: left;
  margin-left: 30px;
}

.choose-message {
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0);
  text-align: center;
  text-shadow: 2px 2px 4px #ce9dffe4, 0 0 0 rgb(var(--primery));
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  text-align: center;
  --primery: 1, 161, 161;
  --bg: 239, 239, 242;
  --ch1: 126, 216, 118;
  --ch2: 99, 219, 243;
  --ch3: 243, 118, 0;
  --ch4: 255, 213, 6;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.pokemon-image {
  /* image-rendering: pixelated; */
  height: 200px;
  width: 200px;
  margin-left: 30px;
}

.attack-button {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.745);
  text-align: center;
  text-shadow: 2px 2px 4px #2b0b4ae4, 0 0 0 rgb(var(--primery));
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-align: center;
  --primery: 1, 161, 161;
  --bg: 239, 239, 242;
  --ch1: 126, 216, 118;
  --ch2: 99, 219, 243;
  --ch3: 243, 118, 0;
  --ch4: 255, 213, 6;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #603f33ca;
  border: solid 1, 1px;
  transition: 0.4s;
}

.attack-button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.go-back-btn {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: rgba(1, 0, 0, 0.8);
  text-align: center;
  text-shadow: 2px 2px 4px #e5d3f7e4, 0 0 0 rgb(var(--primery));
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-align: center;
  --primery: 1, 161, 161;
  --bg: 239, 239, 242;
  --ch1: 126, 216, 118;
  --ch2: 99, 219, 243;
  --ch3: 243, 118, 0;
  --ch4: 255, 213, 6;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #c9bef9;
  border: solid 0, 9px;
}
